.input{
    margin: 20pt;
}
.table {
    border: 1px solid black;
    padding: 8px;
}
.allSize{
    width: 100%;
}


.mediumSize{
    width: 50%;
    margin-left: 50pt;
    padding: 10pt;
}